@page
@model IndexModel
@{
    ViewData["Title"] = "Claims";
}
<h1>@ViewData["Title"]</h1>

@{
    <a href="/Add" class="btn btn-primary">Add</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var claim in ViewData.Model._claims)
        {
            var url = "/Edit/" + claim.Id;
        <tr onclick="location = '@url'">
            <td>
                @claim.Id
            </td>
            <td>
                @claim.Name
            </td>
        </tr>
        }    
        </tbody>
    </table>
    
}
