@page
@model IndexModel
@{
    ViewData["Title"] = "Claims";
}
<h1>@ViewData["Title"]</h1>

<p>Claims</p>

@{
    foreach (var claim in ViewData.Model._claims)
    {
        <div>@claim.Id</div>
    }
}
