@page
@model IndexModel
@{
    ViewData["Title"] = "Claims";
}
<h1>@ViewData["Title"]</h1>

@{
    <table>
        <thead>
            <tr>
                <th>Id</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var claim in ViewData.Model._claims)
        {
            var url = "/Edit/" + claim.Id;
        <tr>
            <td>
                <a href=@url>
                    @claim.Id
                </a>
            </td>
        </tr>
        }    
        </tbody>
    </table>
    
}
